body {
	overflow-x: hidden;
	width: 100vw;
}

#enc {
	flex-wrap: wrap;
	
	width: 100%;
	max-width: 2000px; 
	margin: auto;
	display: flex;
	background-color: #002642;
}
#logo {
	width: 100%;
	padding-bottom: 0px;
}
nav {
	width: 100%;
	padding-top: 0px;
	margin-bottom: 20px;
	padding: 0px;
	padding-bottom: 15px;
}
nav div {
	width: 100vw !important;
	height: 40px;
}
nav div:before {
    content: "";
    margin-left: -100%;
}
nav div:after {
    content: "";
    margin-right: -100%;
}

nav div a {
	font-size: min(18vw, 40px);
}

nav div a:hover {
	font-size: min(18vw, 50px);
}

#banner {
	height: 35vw; 
}

.section-title {
	background-color: #002642;
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	width: 100vw;
	padding-right:20px;
}
#comics-div {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: 270vw;
	margin-top: -5vw;
}
.comiccover {
	width: 90vw;
}

p {
	font-size: 8vw;
}

h1 {
	font-size: 14vw;
}

h2 {
	font-size: 12vw;
}

#portfolio .text a {
	font-size: 12vw;
}

#button a {
	font-size: 8vw;
}

#about h1 {
	margin-top: 24px;
}